.App {
  text-align: center;
}

.ui.image {
  max-height: 120px;
}

.center-div-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.crop-images {
  object-fit: cover
}

.OuterMargin {
  margin: 2%;
}

.ItemsInCategory {
  height: 100%
}
